fastapi==0.115.1
uvicorn==0.24.0
sqlalchemy==2.0.23
psycopg[binary]==3.2.5
python-dotenv==1.0.0
pydantic==2.5.2
pandas==2.2.3
scikit-learn==1.6.1
asyncpg
matplotlib
passlib==1.7.4
python-jose[cryptography]
bcrypt==4.3.0
python-multipart
pytest
pytest-asyncio
pytest-html
pytest-cov
httpx
aiohttp
requests
aiosqlite

# cd API
#uvicorn main:app --reload --port 8084

#cd mspr
#npm run dev